.address-text-field {
    -fx-font-size: 22px;
    -fx-font-family: "Monospace", "Courier New";
}






.form .fieldset:horizontal .field {
    -fx-pref-height: 90px;
    
}

.receive-form .form .fieldset:horizontal .label-container {
    -fx-pref-width: 150px;
   
}

.uneditable-codearea .text {
    -fx-fill: #c0c0c0;
    
}


.qr-code {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-padding: 20;
    -fx-cursor: hand;
}


.qr-code {
    -fx-pref-width: 400px;
    -fx-pref-height: 400px;
}

.qr-code ImageView {
    -fx-fit-width: 400px;
    -fx-fit-height: 400px;
}





.qr-code:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

#lastUsedField .input-container, #derivationField .input-container {
    -fx-alignment: center-left;
}


}